:root{
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --text-color: white;
}

body{
    background: url(../images/bg-mobile.svg) top center no-repeat, var(--violet);
    padding: 2.3em;
    color: var(--text-color);
    height: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    row-gap: 4em;
}

header{grid-area: header;}
main{grid-area: main; display: flex; flex-direction: column; row-gap: 4em;}
footer{grid-area: footer;}

main, footer{
    text-align: center;
}

.logo{height: 1.7em;}

.content{display: flex; flex-direction: column; row-gap: 1.5em; align-items: center;}

.title{font-size: 1.4rem;}
.subtitle{font-family: "Open Sans", sans-serif;}
.btn__reg{
    border: none;
    border-radius: 2em;
    font-size: 0.7rem;
    background-color: var(--text-color);
    color: var(--violet);
    padding-block: 0.7em;
    width: 60%;
    box-shadow: 0 2px 10px 2px hsl(300, 69%, 71%);
}

.btn__reg:hover, span.icon__container:hover{
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--magenta);
    box-shadow: 0 1px 17px 0 hsl(300, 69%, 71%);
    border-color: var(--magenta);
}

span.icon__container{
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.15em 0.3em;
    margin-inline: 0.2em;
}

@media only screen and (min-width: 1280px) {
    body{
        background: url(../images/bg-desktop.svg) top left / cover no-repeat , var(--violet);
        padding: 4em 6.5em 2em 4.5em;
        row-gap: 0;
        min-height: 100vh;
    }

    .logo{height: 2.5em;}

    main{ 
        flex-direction: row;
        column-gap: 3em;
        text-align: left;
        margin-block-start: 2em;
        max-width: 1440px;
    }
    .content{align-items: start; margin-block-start: 3em;}

    .title{font-size: 2rem;}

    footer{text-align: right; align-self: center;}

    .btn__reg{
        font-size: 0.8rem;
        width: 35%;
        padding-block: 1em;
    }
}